:root {
  --bg-color: #11131f;
  --font-title: 'Baskerville', serif;
  --font-body: 'inter', 'roboto', sans-serif;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  color: #eab87b;
}

body,
input,
textarea,
select,
button {
  font-family: var(--font-body);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.modal-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-summary {
  line-height: 1.5;
}

.modal-loading,
.modal-error {
  font-style: italic;
  color: #555;
}

.card {
  background-color: #eab87b;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  color: #0b0b16;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.2rem;
  margin: 0;
}

.card-content {
  margin-top: 10px;
  font-size: 0.9rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
