.movieDetails {
  background-color: var(--detail-color);
  display: flex;
  flex-direction: column;
  color: var(--bg-color);
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15vh;
}

.movieDetails h1 {
  margin-bottom: 8px;
  color: var(--bg-color);
}

.movieDetails p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: var(--bg-color);
}
