.charactersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}

.categorySelect {
  padding: 8px 12px;
  font-size: 1rem;
  border: 2px solid var(--detail-color);
  width: 30%;
  margin: 0.7rem 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .categorySelect {
    width: 50%;
  }
}
